<div class="profile-page">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img src="{{profile && profile.image}}" class="user-img" />
          <h4 *ngIf="profile">{{profile.username}}</h4>
          <p *ngIf="profile">
            {{profile.bio}}
          </p>
          <button *ngIf="profile?.username !== currentUser?.username"
            class="btn btn-sm btn-outline-secondary action-btn" (click)="profileButtonClick()">
            <span *ngIf="!profile?.following">
              <i class="ion-plus-round"></i>
              &nbsp; Follow <span class="text-capitalize">{{profile && profile.username}}</span>
            </span>
            <span *ngIf="profile?.following">
              <i class="ion-minus-round"></i>
              &nbsp; Unfollow <span class="text-capitalize">{{profile && profile.username}}</span>
            </span>
          </button>
          <button *ngIf="profile?.username === currentUser?.username" routerLink="/settings"
            class="btn btn-sm btn-outline-secondary action-btn">
            <i class="ion-gear-a"></i>
            &nbsp; Edit Profile Settings
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <conduit-articles-tab [profileEmail]="profile && profile.email"></conduit-articles-tab>
      </div>
    </div>
  </div>
</div>