<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <conduit-feed-tab [tabs]="tabs"></conduit-feed-tab>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <conduit-popular-tags (clickTag)="tagClick($event)"></conduit-popular-tags>
        </div>
      </div>
    </div>
  </div>
</div>