<div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="currentTab === yourTabName ? 'active' : ''" (click)="tabChange(yourTabName)">Your
        Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="currentTab === globalTabName ? 'active' : ''"
        (click)="tabChange(globalTabName)">Global Feed</a>
    </li>
  </ul>
</div>

<conduit-article-listing [articles]="articles"></conduit-article-listing>