<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1>{{article && article.title}}</h1>

      <div class="article-meta">
        <a routerLink="/profile/{{article && article.author.username}}">
          <img src="{{article && article.author.image}}" />
        </a>
        <div class="info">
          <a routerLink="/profile/{{article && article.author.username}}" class="author">
            {{article && article.author.username}}
          </a>
          <span class="date">{{article && datePipe.transform(article.updatedAt || article.createdAt,
            'longDate')}}</span>
        </div>
        <span *ngIf="article && article.author.email !== currentUser.email">
          <button class="btn btn-sm btn-outline-secondary" (click)="onFollow()" [disabled]="disableFollowBtn">
            <i class="ion-plus-round"></i>
            &nbsp; {{article && article.author.following ? 'Unfollow' : 'Follow'}} {{article && article.author.username}}
          </button>
          &nbsp;&nbsp;
          <button class="btn btn-sm btn-outline-primary" (click)="onFavorite(article)" [disabled]="disableFavBtn">
            <i class="ion-heart"></i>
            &nbsp; {{article && article.favorited ? 'Unfavorite Article' : 'Favorite Article'}}
            <span class="counter">({{article && article.favoriteCount}})</span>
          </button>
        </span>
        <span *ngIf="article && article.author.email === currentUser.email">
          <a class="btn btn-outline-secondary btn-sm" routerLink="/editor/{{article && article.id}}">
            <i class="ion-edit"></i> Edit Article
          </a>
          <button class="btn btn-outline-danger btn-sm m-l-1" (click)="deleteArticle()"
            [disabled]="disableDeleteArticle">
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <p>
          {{article && article.body}}
        </p>
        <ul class="tag-list" *ngFor="let tag of article?.tags?.split(',')">
          <li class="tag-default tag-pill tag-outline">{{tag}}</li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="article-actions">
      <div class="article-meta">
        <a routerLink="/profile/{{article && article.author.username}}">
          <img src="{{article && article.author.image}}" />
        </a>
        <div class="info">
          <a routerLink="/profile/{{article && article.author.username}}" class="author">{{article &&
            article.author.username}}
          </a>
          <span class="date">{{article && datePipe.transform(article.updatedAt || article.createdAt,
            'longDate')}}</span>
        </div>

        <span *ngIf="article && article.author.email !== currentUser.email">
          <button class="btn btn-sm btn-outline-secondary" (click)="onFollow()" [disabled]="disableFollowBtn">
            <i class="ion-plus-round"></i>
            &nbsp; {{article && article.author.following ? 'Unfollow' : 'Follow'}} {{article && article.author.username}}
          </button>
          &nbsp;
          <button class="btn btn-sm btn-outline-primary" (click)="onFavorite(article)" [disabled]="disableFavBtn">
            <i class="ion-heart"></i>
            &nbsp; {{article && article.favorited ? 'Unfavorite Article' : 'Favorite Article'}}
            <span class="counter">({{article && article.favoriteCount}})</span>
          </button>
        </span>
        <span *ngIf="article && article.author.email === currentUser.email">
          <a class="btn btn-outline-secondary btn-sm" routerLink="/editor/{{article && article.id}}">
            <i class="ion-edit"></i> Edit Article
          </a>

          <button class="btn btn-outline-danger btn-sm m-l-1" (click)="deleteArticle()"
            [disabled]="disableDeleteArticle">
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <form class="card comment-form">
          <div class="card-block">
            <textarea name="comment" class="form-control" placeholder="Write a comment..." rows="3"
              [(ngModel)]="comment"></textarea>
          </div>
          <div class="card-footer">
            <img src="{{currentUser.image}}" class="comment-author-img" />
            <button class="btn btn-sm btn-primary" (click)="postComment()">Post Comment</button>
          </div>
        </form>

        <div class="card" *ngFor="let comment of comments">
          <div class="card-block">
            <p class="card-text">
              {{comment.body}}
            </p>
          </div>
          <div class="card-footer">
            <a routerLink="/profile/{{comment.author.username}}" class="comment-author">
              <img src="{{comment.author.image}}" class="comment-author-img" />
            </a>
            &nbsp;
            <a href="" class="comment-author">{{comment.author.username}}</a>
            <span class="date-posted">{{datePipe.transform(comment.created_at, 'longDate')}}</span>
            <span class="mod-options" (click)="deleteComment(comment)">
              <i class="ion-trash-a"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>