<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center text-capitalize">{{title}}</h1>
        <p class="text-xs-center">
          <a [routerLink]="switchRoute">{{switchQuestion}}</a>
        </p>

        <ul class="error-messages">
          <li *ngIf="authErr">{{authErr}}</li>
        </ul>
        <div class="alert alert-success" *ngIf="authSuccessText">
          {{authSuccessText}}
        </div>

        <form>
          <fieldset [disabled]="disableForm">
            <fieldset class="form-group" *ngIf="pageType === 'register'">
              <input class="form-control form-control-lg" type="text" name="username" [(ngModel)]="username"
                placeholder="Your Name">
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="text" placeholder="Email" name="email"
                [(ngModel)]="userEmail">
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control form-control-lg" type="password" placeholder="Password" name="password"
                [(ngModel)]="userPassword">
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right text-capitalize" (click)="onSubmit()">
              {{submitText}}
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>